/*-- scss:defaults --*/

//Colors
$cream: #fffdd0;
$dark-green: #013220;
$dark-brown: #331800;
$dark-greyish-green: #8A9975;

//base doc colors
$navbar-bg: $dark-greyish-green; //navbar
$navbar-fg: $cream; //navbar foreground
$navbar-hl: $dark-green; //navbar link hover color
$body-bg: $cream; //page background
$body-color: $dark-brown; //page text
$footer-bg: $dark-greyish-green; //footer
$link-color: $dark-green; //hyperlinks